[membrane_aac_plugin] Add support for LATM/LOAS encapsulation

As per #682, to add support for RFC6416 in the AAC (de)payloaders we should extend the AAC parser's functionality to be able to convert between the different types of AAC encapsulations, including LATM/LOAS.

Since it was decided to put this task on hold, I'm doccumenting the research effort up until now.

Relevant specs:
ISO/IEC 14496 (2009) Part 3 - Audio, subclause 1.7 - LOAS and LATM specification
RFC3640 - AAC over RTP, MPEG4-Generic
RFC5691 - Contains application of RFC3640
RFC6416 - AAC over RTP, MP4A-LATM, obsoletes 3016 which sometimes comes up in discussions.

Relevant implementations:
[AAC decoder](https://sourceforge.net/p/opencore-amr/fdk-aac/ci/master/tree/libAACdec/) in opencore-amr/fdk-aac
[AAC encoder](https://sourceforge.net/p/opencore-amr/fdk-aac/ci/master/tree/libAACenc/) in opencore-amr/fdk-aac
[ffmpeg LATM encoder (muxer?)](https://ffmpeg.org/doxygen/1.0/latmenc_8c-source.html)
gstreamer PRs for LATM (not yet merged):
[fdkaac: Add support for LATM/LOAS](https://gitlab.freedesktop.org/gstreamer/gstreamer/-/merge_requests/1172)
[aacparse/rtpmp4apay/depay: Add support for LATM](https://gitlab.freedesktop.org/gstreamer/gstreamer/-/merge_requests/1173)
[Microsoft Media Foundation AAC Decoder](https://learn.microsoft.com/pl-pl/windows/win32/medfound/aac-decoder?redirectedfrom=MSDN)

Miscellaneous:
MultimediaWiki, RTSP streams that supposedly use MP4A-LATM - https://wiki.multimedia.cx/index.php/RTSP
[ffmpeg ADTS AAC to AudioSpecificConfig bitstream filter](https://ffmpeg.org/ffmpeg-bitstream-filters.html#aac_005fadtstoasc)
https://stackoverflow.com/questions/59854620/missing-element-mpeg4-generic-audio-rtp-depayloader-gstreamer
https://github.com/mstorsjo/fdk-aac/issues/85
https://www.wowza.com/docs/enable-the-mp4a-latm-media-type-for-aac-audio
https://github.com/carsten-gross/ts2shout/issues/3


Turned out to be waaaay too complex; effort benefit ratio sucks.